<!DOCTYPE html>
<html>
  <head>
    <title>hello,world</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>leia sorry we cannot find that! :) </h1>
	<h2>Myname:<%= name%></h2>
	<h2>Age:<%= age%></h2>
    <p></p>
  </body>
</html>
